<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  internalLogFile="internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
    <extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>
    <targets>
        <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
            <target xsi:type="ElasticSearch"
					uri="http://localhost:9200"
					enableApiVersioningHeader="true"
					index ="logs${shortdate}"
		            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="elastic" />
	
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="elastic" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="elastic" />
    </rules>
</nlog>
